---
import { 
	Header, 
	Hero, 
	Portfolio, 
	Projects, 
	Stages, 
	Pricing, 
	FAQ, 
	Reviews,
	News, 
	CTA, 
	Footer, 
	MetaTags,
	PageLinks,
	PageTitle
} from '../components';
---

<!doctype html>
<html lang="ge">
	<head>
		<PageTitle />
		<MetaTags />
		<PageLinks />
		<body>
			<div class="wrapper">
				<Header />
				<main class="page">
					<Hero />
					<Portfolio />
					<Projects />
					<Stages />
					<Pricing />
					<FAQ />
					<Reviews />
					<News />
					<CTA />
				</main>
				<Footer />
			</div>
			<!-- <script src="app.js" is:inline></script> -->
		</body>
	</head>
</html>
