<section class="hero">
	<div class="hero__container">
		<div class="hero__content">
			<h1 class="hero__title">
				<span>Ремонт и строительство</span>
				<span>В Тбилиси</span>
			</h1>
			<a href="#" class="hero__button button _icon-arrow-up-right">Узнать больше</a>
		</div>
	</div>
	<!-- <img src="images/hero-img.webp" alt="Hero"> -->
</section>
