<section class="news">
	<div class="news__container">
		<h2 class="news__title title">Новости</h2>
		<div class="news__slider swiper">
			<div class="news__wrapper swiper-wrapper">
				<!-- News slides go here -->
			</div>
			<div class="news__slider-pagination swiper-pagination"></div>
		</div>
	</div>
</section>
