<section class="portfolio">
	<div class="portfolio__container">
		<h2 class="portfolio__title title">Наши работы</h2>
		<div class="portfolio__navigation">
			<button type="button" class="portfolio-button portfolio-button-prev _icon-arrow-right" aria-label="Previous button"></button>
			<button type="button" class="portfolio-button portfolio-button-next _icon-arrow-right" aria-label="Next button"></button>
		</div>
	</div>
	<div class="portfolio__slider swiper">
		<div class="portfolio__wrapper swiper-wrapper">
			<!-- Portfolio slides go here -->
		</div>
	</div>
</section>
