<section class="projects">
	<div class="projects__container">
		<div class="projects__title-wrapper">
			<h2 class="projects__title title">Наши Завершенные Проекты</h2>
			<a href="#" class="projects__button button _icon-arrow-up-right">Все проекты</a>
		</div>
		<ul class="projects__slides">
			<!-- Project slides go here -->
		</ul>
	</div>
</section>
