<section class="stages">
	<div class="stages__container">
		<h2 class="stages__title title">Этапы Вашего Проекта с Нами</h2>
		<ul class="stages__items">
			<!-- Stages items go here -->
		</ul>
	</div>
</section>
